<?php
return array(
	/*
	 * Slim configuration
	 */
	"mode" => "development",
	"debug" => true,

	/*
	 * Database
	 */
	"database" => array(
		"username" => "root",
		"password" => "",
		"dbname" => "awards",
		"prefix" => "award_",
	),


	/*
	 * Site configuration
	 */

	// Current season
	"season" => 2,

	// Default timezone
	"timezone" => "America/Los_Angeles",
);